.animated-typer__cursor-line {
    background-color: green;
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -7px;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
}


.animated-typer__cursor-line--invisible {
    opacity: 0;
}

.animated-typer__cursor-box {
    background-color: green;
    color: white;
    font-size: 16px;
    position: absolute;
    padding: 3px 5px;
    border-radius: 5px;
    top: -16px;
    white-space: nowrap;
}